body,
html {
  height: calc(100% - 4em);
}

body {
  display: grid;
  align-items: center;
  padding: 2em;
  background-color: crimson;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  line-height: 2; 
}

::selection {
  background-color: #fff;
  color: crimson;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;    
  }
}